body{
	background: #F0F0F0; 
	color: #444444;
	



}

#name_container{
	
	
	color: #444444;
	padding: 25px;

}
h1{
	font-family: "Source Code Pro";
	font-size: 40px
}
#body_container{
	text-align: justify;
	color: #7c7c7c;
	margin: auto;
	font-family: monospace;
	background-color: black;
	font-size: 25px;
	padding: 25px;
	 
	

}
#image{
	padding: 25px;
	background-color: black;
	
}
#biography{
	font-family: "Source Code Pro";
	text-align: center;
	margin: auto;
	color: white;
	padding: 170px;
	/*background-color: #1E1F1C;*/
	background: url(../images/precision.JPG);
	font-size: 50px;


}

#social{
	text-align: center;
	margin: auto;
	padding: 20px;

	background-color: #e3e3e3;
	color: black;
}
a{
	text-decoration: none;
	color: #89b23f;

}
